<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731290066354-v7ed04e4mqsuet7t3spgmga0387ecvml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731290066354-v7ed04e4mqsuet7t3spgmga0387ecvml</string>
	<key>API_KEY</key>
	<string>AIzaSyC6SvHIEXagcKaAEgophn60_ixTssHr_80</string>
	<key>GCM_SENDER_ID</key>
	<string>731290066354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rohan.synergy-app</string>
	<key>PROJECT_ID</key>
	<string>synergy-8960e</string>
	<key>STORAGE_BUCKET</key>
	<string>synergy-8960e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731290066354:ios:0a773b88c1bf17b6</string>
	<key>DATABASE_URL</key>
	<string>https://synergy-8960e.firebaseio.com</string>
</dict>
</plist>